.team-card{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border:2px solid white;
    border-radius: 15px;
    margin:8px;
    padding: 8px;
    width:180px;
    align-items: center;
    /* opacity: 0.5; */
}

.team-logo-img{
    height: 70px;
    width: 70px;
    margin-right: 6px;
}

.team-name{
    color: white;
    font-weight: bold;
    font-size: 10px;
}