.app-bg-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png");
    height: 100vh;
    background-size: cover;
    overflow: auto;
    padding: 10px;
}


@media screen and (min-width:768px) {
    .app-bg-container{
        background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
        height: 100vh;
    }
}

.logo-heading-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo-img{
    height:70px;
    width:50px;
    margin-right: 8px;
}

.main-heading{
    font-family: 'roboto';
    font-size: 30px;
    color:white;
    font-weight: bold;
}

.team-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}